.App {
  text-align: center;
  height: 100%;
}

.login {
  margin: 9em 1em 0 1em;
}
.formBackground {
  background-color: #FAFAFA;
  padding: 1em 3em;
}

.tableMargin {
  margin: 15px;
}

.redLabel{
  color: #AA2328;
}

.greenLabel {
  color: #28AA23;
}
